secret.key
public.key
update.log
cron_error.log
*.ipk
**/__pycache__/
gemini.md
venv/
www/
.tmp_repo/
*.sig
*.stamps
dashboard.dist
dashboard.build
dashboard.onefile-build
openwrt-repo-manager
repo_tracking.list
repo_sources.json
config.json